# ========================
# Environment Variables
# ========================
.env

# ========================
# Database Lokal
# ========================
kanban.db

# ========================
# OS & Editor Files
# ========================
.vscode/